<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("password") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("create_time", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("create_time") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("update_time", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("update_time") %>
   </div>
</div>
