<%- errorMessagesFor(company) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("data", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("data") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("status") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("userid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("userid") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("create_time", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("create_time") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("update_time", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("update_time") %>
   </div>
</div>
