<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.companies() %>">companies</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New company</a></li>
</ul>

<div class="page-header">
    <h1>New company</h1>
</div>

<% var form = formFor(company, {action: pathTo.companies(), method: 'POST', id: "company-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create company', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.companies(), {class: 'btn'}) %>
</div>
<%- form.end() %>
